@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>@Model.Exception.Message</p>
<p>@Model.Exception.Source</p>
<p>@Model.Exception.HelpLink</p>
@if (Model.Exception.InnerException != null)
{
    <p>@Model.Exception.InnerException.Message</p>
    <p>@Model.Exception.InnerException.Source</p>
}