@model SpareShare.Models.Quests

@{
    ViewBag.Title = "受助请求信息";
}

<h2>受助请求信息</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("返回", "MyQuestsList")
</p>
