@model SpareShareMVC.Models.SSRegisterViewModel
@{
    Layout = "~/Views/Shared/_SSMainLayout.cshtml";
    ViewBag.Title = "注册";
}
@section head{
    <script>
        $(function () {
            $('#hiddengroup').hide();
            $('#isAdmin').change(function () {
                var isadmin = $(this).val();
                if(isadmin=="Y")
                {
                    $('#hiddengroup').show();
                }
                else
                {
                    $('#hiddengroup').hide();
                }
            })
        });
    </script>
}
<div class="container">
    <div class="row">
        <h2 class="text-center"><strong>大学生闲置物品捐助系统</strong></h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>&emsp;&emsp;&emsp; 注册</h2>
            @using (Html.BeginForm("Register", "SSAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                //下拉列表的值
                List<SelectListItem> selectList = new List<SelectListItem>();
                selectList.Add(new SelectListItem { Value = "M", Text = "男" });
                selectList.Add(new SelectListItem { Value = "F", Text = "女" });
                <div class="form-group">
                    @Html.LabelFor(m => m.Sex, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Sex, new SelectList(selectList.AsEnumerable(), "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.QQ, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.QQ, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.QQ, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Province, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.Province, new SelectList(((List<SelectListItem>)ViewBag.selectProvince).AsEnumerable(), "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.School, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.School, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.School, "", new { @class = "text-danger" })
                    </div>
                </div>
                //下拉列表的值
                List<SelectListItem> selectList2 = new List<SelectListItem>();
                selectList2.Add(new SelectListItem { Value = "N", Text = "否" });
                selectList2.Add(new SelectListItem { Value = "Y", Text = "是" });
                <div class="form-group">
                    @Html.LabelFor(m => m.isAdmin, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(m => m.isAdmin, new SelectList(selectList2.AsEnumerable(), "Value", "Text"), new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group" id="hiddengroup">
                    @Html.LabelFor(m => m.AdminPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.AdminPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.AdminPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-6">
                        <input type="submit" value="注册" style="background:#111010 ;color: #F7F4F4;width:100%; height: 35px;" />
                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <br /><br /><br />
            <img src="~/Files/regImage.jpg" class="img-thumbnail" style="width: 450px;height:460px">
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
