@model SpareShare.Models.Things

@{
    ViewBag.Title = "捐赠物品信息";
}

<h2>捐赠物品信息</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonatorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            <img src="@PublicFunction.GetImgSrc(Model.ImageUrl)" class="img-thumbnail" style="width:200px; height:200px;" />
        </dd>
    </dl>
</div>
@using (Html.BeginForm("ThingsDetail", "Donate", new { id = Model.Id }, FormMethod.Post, new { id = "AssessForm" }))
{
    if (Model.Status == "审核未通过" || Model.Status == "正在审核中")
    {
        <input type="submit" value="删除" name="action" class="btn btn-danger" />
    }    
    <input type="submit" value="返回" name="action" class="btn btn-link" />
}