@model IEnumerable<SpareShare.Models.QuestsListViewModel>

@{
    ViewBag.Title = "审核受助请求";
}
@section head{
    <style>
        .table:hover {
            cursor: pointer;
        }

        .quest img {
            height: 15px;
            width: 15px;
            vertical-align: middle;
            margin-right: 5px;
        }

        .quest a {
            vertical-align: middle;
        }

        .quest span {
            color: #999999;
            vertical-align: middle;
            margin-left: 20px;
        }

        .reason span {
            color: #999999;
            vertical-align: middle;
        }

        .form-control {
            display: inline;
        }
    </style>
    <script>
        function doLink(idx){
            window.location.href="http://"+window.location.host+"/Admin/QuestsDetail/"+idx;
        }
    </script>
}
<h2>审核受助请求</h2>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr onclick="doLink(@(item.Quest.Id))">
            <td>
                <div class="quest">
                    <img src="~/Files/wenhao.png" />
                    <a>@item.Quest.Name</a>
                    <span>@item.Quest.Type</span>
                    @Html.Raw(PublicFunction.GetQuestStatus(item.Quest.Status))
                </div>
                <div class="reason">
                    <span>@item.Quest.Detail</span>
                    <span style="float:right">发布于@(PublicFunction.TransTime(item.Quest.ReleaseTime.Value))</span>
                </div>
            </td>
        </tr>
    }
</table>
<div style="text-align:center">
    <ul id="page"></ul>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/MyScripts/bootstrap-paginator.js")
    <script>
        $(function () {
            var currentPage = @(ViewBag.currentPage);
            var totalPages = @(ViewBag.totalPages);
            $("#page").bootstrapPaginator({
                bootstrapMajorVersion: 3, //对应的bootstrap版本
                currentPage: currentPage, //当前页数
                numberOfPages: 5, //每次显示页数
                totalPages: totalPages, //总页数
                shouldShowPage: true, //是否显示该按钮
                useBootstrapTooltip: true,
                onPageClicked: function (event, originalEvent, type, page) {
                    window.location.href = "http://"+window.location.host+"/Admin/MyQuestsList?currentPage="+page;
                    //console.log(window.location.host);
                    //console.log(window.location.href);
                }
            });
        });
    </script>
}
