@model IEnumerable<SpareShare.Models.ThingsListViewModel>

@{
    ViewBag.Title = "审核捐赠物品";
}

<h2>审核捐赠物品</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.ActionLink("审核", "ThingsDetail", new { id=item.ThingId })
        </td>
    </tr>
}

</table>
<div style="text-align:center">
    <ul id="page"></ul>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/MyScripts/bootstrap-paginator.js")
    <script>
        $(function () {
            var currentPage = @(ViewBag.currentPage);
            var totalPages = @(ViewBag.totalPages);
            $("#page").bootstrapPaginator({
                bootstrapMajorVersion: 3, //对应的bootstrap版本
                currentPage: currentPage, //当前页数
                numberOfPages: 5, //每次显示页数
                totalPages: totalPages, //总页数
                shouldShowPage: true, //是否显示该按钮
                useBootstrapTooltip: true,
                onPageClicked: function (event, originalEvent, type, page) {
                    window.location.href = "http://"+window.location.host+"/Admin/CheckThings?currentPage="+page;
                    //console.log(window.location.host);
                    //console.log(window.location.href);
                }
            });
        });
    </script>
}
