@model SpareShare.Models.Things

@{
    ViewBag.Title = "捐赠物品信息";
}

<h2>捐赠物品信息</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonatorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonatorId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            <img src="@PublicFunction.GetImgSrc(Model.ImageUrl)" class="img-thumbnail" style="width:200px; height:200px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
@using (Html.BeginForm("ThingsDetail", "Admin", new { id = Model.Id }, FormMethod.Post, new { id = "AssessForm" }))
{
    <input type="submit" value="通过" name="action" class="btn btn-success" />
    <button  type="submit" value="拒绝" class="btn btn-danger" name="action">拒绝</button>
    <input type="submit" value="取消" name="action" class="btn btn-link" />
}